/*.btnparent_container{
  display:flex;
  justify-content:center;
  position:absolute;
  width:100%;
}

.btnparent{
height:20px;
width:50%;
display:flex;
justify-content: space-between;
}

.cameraBtn_LHS{
z-index: 1;
width:40px;
height:40px;
cursor: 'pointer';
border-radius: 50%
}

.cameraBtn_RHS{
z-index: 1;
width:40px;
height:40px;
cursor: 'pointer';
border-radius: 50%
}
*/